extends layouts/layout

block content
  h1= title
  p Welcome to #{title}
  p Welkom bij onze online videotheek! Hier kun je heel makkelijk films huren en kijken.
  p Je kunt door al onze films bladeren en je favorieten kiezen. Of je nu van actie, comedy of drama houdt, we hebben voor ieder wat wils.

  p Ga lekker zitten en geniet van een filmavond, rechtstreeks vanuit je eigen huis!
